# llm configuration
LLM_API_KEY=
LLM_API_BASE= # base url for the llm api, e.g. https://api.huggingface.co or https://api.groq.com/openai/v1
LLM_MODEL=
LLM_TEMPERATURE=0.7
LLM_MAX_TOKENS=10000

# langfuse configuration
LANGFUSE_SECRET_KEY="sk-lf-"
LANGFUSE_PUBLIC_KEY="pk-lf-"
LANGFUSE_BASE_URL="http://localhost:3000"